.panel-title>li.active>a, .panel-title>li.active>a:hover, .panel-title>li.active>a:focus {
color: #34b536;
background-color: #34b536;
}

.margintop20 {
    margin-top:0px;
}

.nav-pills>li>a {
border-radius: 0px;
}

a {
color: #000;
text-decoration: none;
}

a:hover {
color: #000;
text-decoration: none;
}

.nav-stacked>li+li {
margin-top: 0px;
margin-left: 0;
border-bottom:1px solid #dadada;
border-left:1px solid #dadada;
border-right:1px solid #dadada;
}

.active2 {
    border-right:4px solid #34b536;
}

.panel{
    border-radius: 0px;
}

.box{
    padding: 10px;
}

.box-inside{
    padding: 10px;
    background-color: #edefed;
}

.menuhead{
    background-color: #34b536;
    border-bottom:1px solid #dadada;
    border-left:1px solid #dadada;
    border-right:1px solid #dadada;
}